/* Global variables */
:root {
  --nav-bar-height: 50px;
  --side-panel-width: 20%;
  --hexagon-opacity: 1;
  --tree-box-outline: none;
  --bg-color: rgb(7, 68, 90);
  --bg-color-dark: rgb(0, 40, 66);
  --red: rgba(190, 50, 25, 1);
  --yellow: rgba(183, 156, 4, 1);
  --blue: rgba(22, 159, 227, 1);
  --inactive-opacity: 0.2;
  --line-width-active: 1;
}

.bg-red {
  background-color: var(--red);
}

.bg-yellow {
  background-color: var(--yellow);
}

.bg-blue {
  background-color: var(--blue);
}

html,
body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div {
  outline-style: none;
}

h1 {
  font-size: 1.5vw;
}

h2 {
  font-size: 1vw;
}

h3 {
  font-size: 0.9vw;
  font-style: italic;
}

#app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start; /* horizontal */
  align-items: center; /* vertical */
}

#spinner {
  text-align: center;
}

#version-warning {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 5px;
  text-align: right;
  color: orange;
}

.toast {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 2;
}

/* Modals */
.modal-icon {
  margin-right: 5px;
}

.about-label {
  font-weight: bold;
}

.share-modal-label {
  font-weight: 500;
  margin-bottom: 5px;
}

#share-modal-social {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center; /* horizontal */
  align-items: center; /* vertical */
  cursor: pointer;
}

/* Nav bar */
.navbar {
  height: var(--nav-bar-height);
  width: 100vw;
  z-index: 20;
}

#nav-icon {
  color: black;
}

#nav-icon:hover {
  color: blue;
}

.navbar .btn {
  margin: 1px;
}

.navbar .btn.btn-sm:disabled {
  -webkit-filter: saturate(10%);
  filter: saturate(10%);
}

.nav-button-text {
  margin-left: 5px;
}

#settings-group {
  width: 160px;
  margin: 0px 10px 0px 10px;
}

.select-commander-icon {
  margin-right: 5px;
  width: 23px;
  height: 29px;
  transform: translateY(-5%);
}

#select-commander-menu {
  max-height: 80vh;
  overflow: auto;
}

#select-commander-menu::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

#select-commander-menu::-webkit-scrollbar {
  width: 3px;
  background-color: #f5f5f5;
}

#select-commander-menu::-webkit-scrollbar-thumb {
  border-radius: 2px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

/* Main panel container */
#main-container {
  width: 100vw;
  height: calc(100% - var(--nav-bar-height));
  display: flex;
  flex: 1;
  flex-flow: row nowrap;
  justify-content: center; /* horizontal */
  align-items: center; /* vertical */
  background-color: var(--bg-color);
}

/* Side panel */
#side-panel {
  height: 100%;
  width: 100%;
  padding: 10px;
  overflow-y: auto;
  overflow-wrap: break-word;
  z-index: 10;
  background-image: linear-gradient(
    to left,
    var(--bg-color),
    var(--bg-color-dark)
  );
}

.side-panel-open {
  flex: 0 0 var(--side-panel-width);
}

.side-panel-closed {
  display: none;
}

#side-panel::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

#side-panel::-webkit-scrollbar {
  width: 3px;
  background-color: #f5f5f5;
}

#side-panel::-webkit-scrollbar-thumb {
  border-radius: 2px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.info-box {
  background-color: white;
  border: 0.5px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

/* Summary Panel */
#summary-panel-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; /* horizontal */
}

#summary-panel {
  position: relative;
  overflow: hidden;
  width: 100%;
  flex-grow: 3;
}

#summary-panel img {
  position: absolute;
  width: 200%;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.2;
  filter: blur(6px);
}

#summary-panel-talents-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; /* horizontal */
  margin-bottom: 5px;
}

.summary-panel-talents {
  width: 33%;
  margin: 0 1px 0 1px;
  border: 0.5px solid black;
  text-align: center;
}

#summary-panel-summary p {
  margin-bottom: 0px;
}

/* Stats Panel */
#stats-panel {
  flex-grow: 1;
}

#stats-panel-stats p {
  margin-bottom: 0px;
}

/* Stats Talents Panel */
.stats-talents-expand {
  font-size: 0.4em;
}

.stats-talents-expand:hover {
  color: blue;
}

.stats-talents-main {
  margin-bottom: 5px;
}

.stats-talents-title {
  font-size: 0.9em;
  font-weight: bold;
}

.stats-talents-text {
  font-size: 0.8em;
  padding-left: 5px;
}

.stats-talents-bullet {
  float: left;
  width: 10px;
  height: 10px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, 1);
}

/* Talent tree */
#tree-panel {
  position: relative;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding-bottom: 70px;
}

#tree-square-container {
  height: 100%;
  width: 100%;
  max-width: calc(100vh - var(--nav-bar-height)); /* height of nav bar */
  max-height: calc(100vw - var(--side-panel-width)); /* width of side bar */
  margin: 0 auto;
}

#tree-square-section {
  position: relative;
  padding-bottom: 100%;
}

#tree-square-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#tree-center {
  position: absolute;
  height: 17%;
  width: 17%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: var(--hexagon-opacity);
}

#hexagon-bg img {
  position: absolute;
  height: 100%;
  width: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -52%);
  -webkit-filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.7));
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#hexagon-commander {
  position: absolute;
  height: 44%;
  width: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -53%);
  -webkit-filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.8));
  filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.8));
  cursor: pointer;
}

#hexagon-label-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hexagon-label {
  position: absolute;
  font-weight: 700;
  mix-blend-mode: multiply;
  text-align: center;
  -webkit-filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.2));
}

.hexagon-label-red {
  width: 40%;
  bottom: 75%;
}

.hexagon-label-yellow {
  width: 40%;
  bottom: 22%;
  transform: translateX(-58%);
}

.hexagon-label-blue {
  width: 40%;
  bottom: 22%;
  transform: translateX(58%);
}

.tree-container {
  position: absolute;
  height: 50%;
  width: 50%;
  text-align: center;
  padding: 0px;
}

.tree-total {
  font-weight: 400;
}

#tree-red {
  top: 0%;
  left: 50%;
  border: 0.5px var(--tree-box-outline) var(--red);
}

#tree-red-mouse {
  position: absolute;
  top: 0%;
  left: -100%;
  color: var(--red);
  padding: 2px;
  background-color: white;
  border: 0.5px solid black;
}

#tree-yellow {
  top: 50%;
  left: 0%;
  border: 0.5px var(--tree-box-outline) var(--yellow);
}

#tree-yellow-mouse {
  position: absolute;
  bottom: 0%;
  left: 0%;
  color: var(--yellow);
  padding: 2px;
  background-color: white;
  border: 0.5px solid black;
}

#tree-blue {
  top: 50%;
  left: 50%;
  border: 0.5px var(--tree-box-outline) var(--blue);
}

#tree-blue-mouse {
  position: absolute;
  bottom: 0%;
  right: 0%;
  color: var(--blue);
  padding: 2px;
  background-color: white;
  border: 0.5px solid black;
}

.node {
  position: absolute;
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.7));
  cursor: pointer;
  z-index: 10;
}

.node-small-S {
  width: 3%;
  height: 3%;
}

.node-small-M {
  width: 4%;
  height: 4%;
}

.node-small-L {
  width: 5%;
  height: 5%;
}

.node-large-S {
  width: 7%;
  height: 7%;
}

.node-large-M {
  width: 7.6%;
  height: 7.6%;
}

.node-large-L {
  width: 8.5%;
  height: 8.5%;
}

.node-inactive {
  -webkit-filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.7)) grayscale(100%);
  filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.7)) grayscale(100%);
  opacity: var(--inactive-opacity);
}

.node-inactive:hover {
  opacity: 1;
}

.node-value {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 95%);
  height: 50%;
  width: 80%;
  color: rgb(216, 216, 216);
}

.node-tooltip-title {
  float: left;
  font-size: 0.8em;
  font-weight: bold;
}

.node-tooltip-title-value {
  float: right;
  font-size: 0.8em;
  margin-left: 5px;
}

.node-tooltip-body {
  font-size: 0.8em;
}

.node-tooltip-id {
  font-size: 0.7em;
  margin-top: 5px;
  text-align: right;
  letter-spacing: 1px;
  color: gray;
}

#node-tooltip-assign-container {
  margin-top: 10px;
  text-align: center;
}

.node-tooltip-assign-value {
  font-size: 2em;
}

.node-tooltip-decrease-button {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0%, -50%);
  color: red;
}

.node-tooltip-increase-button {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0%, -50%);
  color: green;
}

.popover {
  max-width: 25vh;
  max-height: 20vh;
}

.line path {
  opacity: var(--inactive-opacity);
  stroke: gray;
  stroke-width: 1;
  z-index: 0;
}

.line-red path {
  opacity: 1;
  stroke: var(--red);
  stroke-width: var(--line-width-active);
}

.line-yellow path {
  opacity: 1;
  stroke: var(--yellow);
  stroke-width: var(--line-width-active);
}

.line-blue path {
  opacity: 1;
  stroke: var(--blue);
  stroke-width: var(--line-width-active);
}

.line-endpoint {
  visibility: hidden;
  z-index: -1;
}
