#banner {
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  bottom: 0px;
  right: 0px;
  margin: 5px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: rgb(243, 243, 243);
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 2px;
  z-index: 100;
}

#banner img {
  width: auto;
  margin-left: 4px;
}
