/* Base font styles (default: desktop large) */
h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1em;
  font-style: italic;
}

p {
  font-size: 1em;
}

.stats-talents-expand {
  font-size: 0.4em;
}

.stats-talents-title {
  font-size: 0.9em;
  font-weight: bold;
}

.stats-talents-text {
  font-size: 0.8em;
}

.node-tooltip-title {
  font-size: 0.8em;
  font-weight: bold;
}

.node-tooltip-title-value {
  font-size: 0.8em;
}

.node-tooltip-body {
  font-size: 0.8em;
}

.node-tooltip-id {
  font-size: 0.7em;
}

.node-tooltip-assign-value {
  font-size: 2em;
}

/* Phone portrait */
@media (max-width: 599px) {
  .nav-button-text {
    display: none;
  }
}

/* Tablet portrait */
@media (min-width: 600px) {
}

/* Tablet landscape */
@media (min-width: 900px) {
}

/* Desktop small */
@media (min-width: 1200px) {
}
