/* Base font styles (default: desktop large) */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Styles */
h1 {
  font-weight: bold;
}

h2 {
  font-weight: bold;
}

h3 {
  font-style: italic;
}

.stats-talents-title {
  font-weight: bold;
}

.node-tooltip-title {
  font-weight: bold;
}

/* Phone portrait */
@media (max-width: 599px) {
  .nav-button-text {
    display: none;
  }
}

/* Tablet portrait */
@media (min-width: 600px) {
}

/* Tablet landscape */
@media (min-width: 900px) {
}

/* Desktop */
@media (min-width: 1280px) {
  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.2em;
  }

  h3 {
    font-size: 1em;
  }

  p {
    font-size: 1em;
  }

  .summary-panel-talents {
    font-size: 0.7em;
  }

  .stats-talents-expand {
    font-size: 0.5em;
  }

  .stats-talents-title {
    font-size: 0.9em;
  }

  .stats-talents-text {
    font-size: 0.8em;
  }

  .node-tooltip-title {
    font-size: 0.75em;
  }

  .node-tooltip-id {
    font-size: 0.5em;
  }
}
