@media (orientation: portrait) {
  #main-container {
    flex-flow: column nowrap;
  }

  #side-panel {
    padding: 3px;
    background-image: linear-gradient(
      to top,
      var(--bg-color),
      var(--bg-color-dark)
    );
  }

  #summary-panel-container {
    height: 100%;
  }

  #summary-panel {
    height: 100%;
  }

  #stats-panel {
    height: 100%;
    margin-left: 3px;
  }

  .info-box {
    margin-bottom: 0px;
  }
}

/* Phone portrait */
@media (max-width: 599px) {
  .nav-button-text {
    display: none;
  }
}

/* Tablet portrait */
@media (min-width: 600px) {
}

/* Tablet landscape */
@media (min-width: 900px) {
}

/* Desktop */
@media (min-width: 1200px) {
}

/* Desktop large */
@media (min-width: 1800px) {
}
