/* Nav bar */
.navbar {
  height: var(--nav-bar-height);
  width: 100vw;
  z-index: 20;
}

#nav-app-icon {
  height: 25px;
  border-radius: 5px;
}

#nav-icon {
  color: black;
}

#nav-icon:hover {
  color: blue;
}
