.popover {
  max-width: 30vw;
  max-height: 30vh;
}

.node-tooltip-body {
  padding: 5px;
}

.node-tooltip-bg {
  border-radius: 3px;
  padding: 2px;
}

.node-tooltip-bg-next {
  background-color: #d5ecd5;
}

.node-tooltip-bg-max {
  background-color: #f0e6d2;
}

.node-tooltip-title {
  float: left;
}

.node-tooltip-id {
  float: right;
  color: gray;
}

#node-tooltip-assign-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 5px;
}

.node-tooltip-decrease {
  flex-grow: 1;
  color: red;
  cursor: pointer;
}

.node-tooltip-value {
  flex-grow: 1;
  text-align: center;
}

.node-tooltip-increase {
  flex-grow: 1;
  color: green;
  cursor: pointer;
}
