.popover {
  max-width: 25vh;
  max-height: 20vh;
}

.node-tooltip-title {
  float: left;
}

.node-tooltip-id {
  float: right;;
  color: gray;
}

#node-tooltip-assign-container {
  margin-top: 10px;
  text-align: center;
}

.node-tooltip-decrease-button {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0%, -50%);
  color: red;
}

.node-tooltip-increase-button {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0%, -50%);
  color: green;
}
