/* Stats Talents Panel */
.stats-talents-expand:hover {
  color: blue;
}

#stats-talents {
  cursor: pointer;
}

.stats-talents-main {
  margin-bottom: 5px;
}

.stats-talents-text {
  padding-left: 5px;
}
