/* Summary Panel */
#summary-panel-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; /* horizontal */
}

#summary-panel {
  position: relative;
  overflow: hidden;
  flex-grow: 2;
}

.summary-panel-guide-icon {
  height: 0.4em;
  width: auto;
  margin-left: 0.4em;
  vertical-align: baseline;
}

#summary-panel-summary p {
  margin-bottom: 0px;
}
