/* Summary Panel */
#summary-panel-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; /* horizontal */
}

#summary-panel {
  position: relative;
  overflow: hidden;
  flex-grow: 2;
}

#summary-panel img {
  position: absolute;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.2;
  filter: blur(8px);
}

#summary-panel-summary p {
  margin-bottom: 0px;
}
