.App {
  display: flex;
  height: 100vh;
  background-color: #000;
}

.Tree {
  border: 0.5px solid black;
  flex: 0 0 85%;
  background-color: #838ca7;
}

#tree-commander {
  font-weight: bold;
}

#tree-commander img {
  width: 4vw;
  height: 4vw;
}

.container {
  border: 0.5px solid red;
  width: 100%;
  height: 100%;
  text-align: center;
}

.row {
  border: 0.5px solid blue;
}

.col {
  border: 0.5px solid green;
}

.sub-tree{
  height:40%;
}

.sub-tree-col{
  height:100%;
}

.Info {
  flex: 1;
  height: 50%;
  background-color: rgb(146, 136, 0);
}

.Info hr {
  border: 0.5px solid black;
  width: 75%;
}
