/* Main app */
#app {
  height: 100vh;
}

*:focus {
  outline: none;
}

/* Sidebar */
#sidebar hr {
  border: 0.5px solid black;
  width: 80%;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 20px;
  top: 20px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
  right: 15px !important;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #c7bdbd;
}

/*
Sidebar wrapper styles
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

.bm-menu {
  background: #636779;
  border: 0.5px solid black;
  padding: 2.5em 1.5em 0;
  overflow-wrap: break-word;
}

/* Talent tree */
#tree {
  width: 50%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  background-color: #838ca7;
}

#tree-commander {
  font-weight: bold;
}

#tree-commander img {
  width: 4vw;
  height: 4vw;
}

.container {
  border: 0.5px solid red;
  height: 100%;
  text-align: center;
}

.col {
  border: 0.5px solid green;
}

.sub-tree {
  height: 40%;
}

.sub-tree-col {
  height: 100%;
}
